<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="DBLink" connectionString="Data Source=I29042; Initial Catalog=FUXIN_CPL; Persist Security Info=True;User ID=sa;Password=laser99" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>

		<add key="StarSheet" value="1" />
		<add key="StarReadRow" value="3" />
		<add key="StarReadCloumn" value="3" />

		<add key="OutFileName" value="Demo" />
		<add key="ExcelPath" value="D:\DemoMsg.xlsx" />
		<add key="ExportPath" value="D:\" />
	</appSettings>
	
</configuration>